<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Checkout\Block\Onepage\Success" type="Cetelem\Payment\Block\Success" />
	<type name="Cetelem\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Cetelem\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cetelemLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Cetelem\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="months" xsi:type="string">sales_order.months</item>
            </argument>
        </arguments>
    </virtualType>
</config>
