<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cetelempayment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<div class="cetelem-payment-logo"></div><div class="cetelem-payment-byline">Permita que sus clientes financien su compra en cuotas mensuales.</div>]]></label>
                <fieldset_css>complex cetelem-payment-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="testmode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="allowed_ips" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback IPs permissions</label>
                    <comment>Insert IPs comma separated. If empty all IPs are allowed. </comment>
                </field>
                <field id="enable_material" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activar Codigo Material</label>
                    <comment>Se activa el envio de codigo material cuando se supera el limite de pedido.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="credentials" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="merchant_code" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Code</label>
                    </field>
                    <field id="merchant_url" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant URL Callback</label>
                    </field>
                </group>
                <group id="payment_configuration" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment configuration</label>
                    <field id="product_code" translate="label" type="select" sortOrder="14" showInDefault="9" showInWebsite="1" showInStore="0">
                        <label>Agreement Product Code</label>
                        <source_model>Cetelem\Payment\Model\System\Config\Source\Productcode</source_model>
                    </field>
                    <field id="payment_mode" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Mode</label>
                        <source_model>Cetelem\Payment\Model\System\Config\Source\Paymentmode</source_model>
                        <depends>
                            <field id="product_code">DP</field>
                        </depends>
                    </field>
                </group>
                <group id="order_configuration" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Order Configuration</label>
                    <field id="canceled_status" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status Canceled by Cetelem</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status on Cetelem Pre-Aproved</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                    <field id="order_approved_status" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status on Cetelem Aproved</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                </group>
                <group id="productview_configuration" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product View Configuration</label>
                    <field id="show_calculator" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Calculator</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="min_amount" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Minimal amount</label>
                        <comment>Minimal price to show calculator. Ex:120</comment>
                        <depends>
                            <field id="show_calculator">1</field>
                        </depends>
                    </field>
                    <field id="js_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Js file URL</label>
                        <depends>
                            <field id="show_calculator">1</field>
                        </depends>
                    </field>
                </group>
                <group id="cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cronjob Cancel Not Attended Orders</label>
                    <field id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cronjob</label>
                    </field>
                </group>
            </group>
            <group id="encuotaspayment" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<div class="encuotas-payment-logo"></div><div class="encuotas-payment-byline">Permita que sus clientes financien su compra en cuotas mensuales.</div>]]></label>
                <fieldset_css>complex encuotas-payment-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="testmode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
                <field id="allowed_ips" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback IPs permissions</label>
                    <comment>Insert IPs comma separated. If empty all IPs are allowed. </comment>
                </field>
                <field id="enable_material" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activar Codigo Material</label>
                    <comment>Se activa el envio de codigo material cuando se supera el limite de pedido.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="credentials" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credentials</label>
                    <field id="merchant_code" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant Code</label>
                    </field>
                    <field id="merchant_url" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant URL Callback</label>
                    </field>
                </group>
                <group id="payment_configuration" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment configuration</label>
                    <field id="product_code" translate="label" type="select" sortOrder="14" showInDefault="9" showInWebsite="1" showInStore="0">
                        <label>Agreement Product Code</label>
                        <source_model>Cetelem\Payment\Model\System\Config\Source\Productcode</source_model>
                    </field>
                    <field id="payment_mode" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Mode</label>
                        <source_model>Cetelem\Payment\Model\System\Config\Source\Paymentmode</source_model>
                        <depends>
                            <field id="product_code">DP</field>
                        </depends>
                    </field>
                </group>
                <group id="order_configuration" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Configuration</label>
                    <field id="canceled_status" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status Canceled by Cetelem</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status on Cetelem Pre-Aproved</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                    <field id="order_approved_status" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Status on Cetelem Aproved</label>
                        <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                        <comment>WARNING! Change if Only Cetelem Recommended</comment>
                    </field>
                    <field id="max_amount" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Max Amount Available</label>
                        <comment>WARNING! This field is daily updated from EnCuotas</comment>
                    </field>
                </group>
                <group id="productview_configuration" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product View Configuration</label>
                    <field id="show_calculator" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Calculator</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="max_amount" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Maximum amount</label>
                        <comment>Minimal price to show calculator. Ex:120</comment>
                        <depends>
                            <field id="show_calculator">1</field>
                        </depends>
                    </field>
                    <field id="js_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Js file URL</label>
                        <depends>
                            <field id="show_calculator">1</field>
                        </depends>
                    </field>
                </group>
                <group id="cron" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Max Amount Allowed</label>
                    <field id="config_max" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cronjob</label>
                    </field>
                    <field id="external_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>External Url</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
